body{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
background: rgb(242,245,246); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
h1{color:red;}  

  #calculator h3{
  color:#001A57;
  margin-bottom:40px;} 
  
   #calculator h4{
  color:#722c2c;
  font-weight:bold;} 
  
   #calculator .new_style{
  color:#001A57;
 } 
  
  .chislo{color:red;
  font-weight:bold;}
  
   #calculator .row{margin-bottom:20px;}
   
   #calculator input {margin-bottom:20px;}
  
   #calculator #reset{background-color:#722c2c;
   color:white;
   font-size:18px;
   padding:2px;
   }
   
    input[type=text]{
    font-weight:bold;
	}
 
 
   input[type=radio] {
  display: none;
}

   *, *:before, *:after {
  box-sizing: inherit;
}



   .active-label, label:focus, label:hover, label:active, input:checked + label {
  color: #e0758e;
}
.active-label:before, label:focus:before, label:hover:before, label:active:before, input:checked + label:before {
  background: white;
  border-color: #e0758e;
}


label {
  font-weight: bold;
  cursor: pointer;
  display: block;
  padding: 12px 10px 10px 30px;
  margin-bottom:-17px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;}

label:first-of-type {
  border: 0;
}
label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: .2rem solid #ccc;
}


input:checked + label:before {
  border-color: white;
  border: none;
  background: #e0758e;
}



  .new-select-style-wpandyou  {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
   border-radius: 5px;
   background-color: lightgrey;
   margin-bottom:15px;
   }
   
   
   
   .new-select-style-wpandyou  select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   font-weight:bold;
   
   }
   

 
  











